body{
	font-size: 17px; color:#2c2d2e;
}
#menu {
	margin-left: 20px; padding-bottom: 10px;
	border:1px solid #bebebe;padding-top:5px;height:47px;border-radius:18px;-moz-border-radius:18px;-webkit-border-radius:18px;behavior:url(js/PIE.htc);position:absolute;top:-10px;z-index:1;padding-left:10px
	;width:80%}
#menu ul {list-style: none}
#menu li {float:left;padding-left:36px; padding-right:37px}
#menu li a, #menu span {padding-bottom: 5px; display:block;font-size:17px;color:#2c2d2e;text-decoration:none;line-height:47px}
#menu li a:hover, #menu a {color:#0665a2}
#menu span {text-decoration: underline}


#body1{
	width: 80%;
	margin-left: 20px; margin-top: 100px;padding-top:10px; padding-left:10px;
	border:1px outset #bebebe;border-radius:18px;-moz-border-radius:18px;-webkit-border-radius:18px;behavior:url(js/PIE.htc);position:absolute;top:-10px;
}
#tools{
	width: 97%;
	margin-top: 450px;padding-top:20px; padding-left:10px;
	border:1px outset #bebebe;border-radius:18px;-moz-border-radius:18px;-webkit-border-radius:18px;behavior:url(js/PIE.htc);position:absolute;top:-10px;

}
#group_list{
	margin-left: 20px; margin-top: 10px;padding-top:10px; padding-left:10px;
}
#ficha{
	margin-left: 100px; margin-top: 10px; margin-bottom: 20px;
	padding-top:10px; padding-left:10px;
}
.f1 {
	font-size: 20px; color:#000000;
}
.f2 {
	font-size: 16px; color:#2c2d2e;
	width:100px;
	margin-left: 5px; margin-top: 5px;padding-top:5px; padding-left:5px;
	border:1px outset #3366FF;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;behavior:url(js/PIE.htc);
}
footer{
	font-size: 14px; text-align: center;
	position:absolute; bottom:-10px;
	height: 50px; width: 600px;
	margin-left: 20px; padding-left: 10px; padding-top: 20px;
	border:1px solid #bebebe;border-radius:18px;-moz-border-radius:18px;-webkit-border-radius:18px;behavior:url(js/PIE.htc);z-index:1
}
#alert{
	position: fixed;
	right: 10px; bottom: 10px;
	padding: 10px;
	color: #990000;
	background-color: yellow; 
	border:1px solid #bebebe;border-radius:18px;-moz-border-radius:18px;-webkit-border-radius:18px;
	opacity: 0.7;
}

button.big {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #050505;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#b5b5b5));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
}

.hidden { display: none;}
.unhidden {display: block;}

.smalltext{ font-size: 12px;}

#logout{ position: absolute; left: 73%; 
		z-index: 2;
		}
